# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
.env
node_modules
pnpm-lock.yaml
sql/migrate_*.sql
sql/seed_*.sql
