/* Page styles for NotFoundPage */
.not-found {
  height: 100%;
}

.not-found__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found__animation {
  width: 300px;
  }

.not-found__animation + p {
    font-weight: bold;
    color: #94a3b8;
}